 <%= render partial: "shared/entity_nav" %>
 <div class="group_container">
            <div class="Group__image">
            <img src= <%= @group_by_user %>  alt="Logo" />
            </div>
            <div class="Group__text">
             <%= link_to @group_by_user.name, class: "nav-link" %>
            </div>
            <div class="Group__price">
           
            </div>
</div>
<div class="group__text">
<p>short loin jerky chuck pork belly pork. Turducken kielbasa chicken 
andouille t-bone picanha. Flank ham hock 
tenderloin sausage. Ribeye t-bone tri-tip, tenderloin pig cow 
prosciutto ground round ball tip picanha.
</p>
<div>