 
 <%= render partial: "shared/popup" %>
 <%= render partial: "shared/navbar" %>
<main>
    <div class="sub_nav">
        <p>Gifted</p>
        <p><b>$45.00</b></p>
    </div>

    <div class="main__section">

    <% @group.each do |grp| %>

   
        <div class="group_container">
            <div class="Group__image">
            <img src=<%= grp.icon %> alt="Logo" />
            </div>
            <div class="Group__text">
             <%= link_to grp.name,  group_entities_path(grp.id), class: "nav-link" %>
                <p>1 st Jan 2020</p>
            </div>
            <div class="Group__price">
            <p><b>$45.00</b></p>
            </div>
        </div>

    <% end %>
    </div>
    <div class="scan">
    <button class="scan_btn">Scan</button>
    </div>
</main>


