<div class="slash_container">
<p class="app__name">Budget trucker</p>
<div class="links">
    <p class="active"><%= link_to 'Login', new_user_session_path %></p>
    <p ><%= link_to 'Sign Up', new_user_registration_path %></p>
</div>
</div>