<header class = "header">   
    <nav class = "nav_container">
            <div nav__icon>
                <i class="fa-solid fa-arrow-left"></i>
            </div>
            <div class="nav__text">
                <p>Transactions</p>
            </div>
            <div class="nav__text">
         
            </div>
    </nav>
</header>