<header class = "header">   
    <nav class = "nav_container">
            <%= link_to groups_path do %>
                <div nav__icon>
                    <i class="fa-solid fa-arrow-left white"></i>
                </div>
            <% end %>
        
            <div class="nav__text">
                <p>Transactions</p>
            </div>
            <div class="nav__text">
         
            </div>
    </nav>
</header>