<header class = "header">   
    <nav class = "nav_container">
            <div nav__icon>
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="nav__text">
                <p>Transactions</p>
            </div>
            <div class="nav__text">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            </div>
    </nav>
    <div class = "status">
     <div class="status__text leaved">
        <p>Most ancient</p>
    </div>
     <div class="status__text current">
        <p>Most recent</p>
        <span id="pad">.</span>
    </div>
    </div>
</header>