<div class="popup" id="popup">
<div class="closs">
<i class="fa-solid fa-xmark"></i>
</div>
    <div class="popup_link">
        <%= link_to 'Categories' %>
        <%= link_to 'New category', new_group_path %>
        <%= link_to 'Login', new_user_session_path  %>
        <%= link_to 'Logout', destroy_user_session_path  %>
    </div>
</div>